p{
	color:darkblue;
	font-size:15px;
	font-family:fantasy;
}
div{
	background-color:deepskyblue;
	height:100px;
	width:100px;

}
*{
	font-size:20px;
	font-family:cursive;
	color:greenyellow;
}