*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
.a{
	height:100px;
	width:300px;
	background-color:transparent;
	position:relative;
	bottom:400px;
	left:550px;
	font-size: 30px;
}
.b{
	height: 200px;
	width:400px;
	color:gray;
	font-size:20px;
	padding-top: 20px;
	text-align: justify;
}
.c{
	height:100px;
	width:1000px;
	background-color:white;
}
.d{
	height:200px;
	width:250px;
	background-color:whitesmoke;
	position:relative;
	bottom:130px;
	left:100px;
	border-radius:5px;

}
.e{
	height:200px;
	width:250px;
	background-color:whitesmoke;
	position:relative;
	bottom:330px;
	left:380px;
	border-radius:5px;

}
.f{
	height:200px;
	width:250px;
	background-color:whitesmoke;
	position:relative;
	bottom:530px;
	left:660px;
	border-radius:5px;

}
.d1{
	padding-left:5px;
	color:gray;
}
.k{
	height:270px;
	width:270px;
	margin:10px 10px;
}
.r{
	height:400px;
	width:900px;
	background-color: whitesmoke;
}
.k1{
	color:gray;
	padding:20px 20px;
	margin-left: 10px;
}
.k2{
	height:200px;
	width:200px;
	background-color:red;
	margin-left: 50px;
	margin-top: 20px;
}
.k2{
	height:200px;
	width:200px;
	background-color:transparent;
	margin-left: 50px;
	margin-top: 20px;
	float:left;
}
.k3{
	height:200px;
	width:200px;
	background-color:transparent;
	margin-left: 50px;
	margin-top: 20px;
	float:left;
}
.k4{
	height:200px;
	width:200px;
	background-color:transparent;
	margin-left: 50px;
	margin-top: 20px;
	float:left;
}
.a1{
	padding-top: 10px;
	color:gray;
}